.private_homepage{
    margin: 15px;
}

.private_header{
    display: flex;
}

.private_content{
    display: flex;
    margin-top: -45%;
    margin-left: -2%;
}

.brandlogo{
    height: 35px;
    width: 100px;
    padding-left: 10px;
    padding-right: 900px;
}

.private_link, .logout-btn{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border: 1px solid rgb(179, 174, 174);
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 600px;
    background-color: white;
}

.private_link:hover, .logout-btn:hover{
    color: white;
    background-color: #00b0ff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border: 1px solid #00b0ff;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 600px;
}

.home_img{
    margin-top: 30px;
    height: 470px;
    width: 700px;
}

.home_title{
    margin-top: 140px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.home_intro{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}